@model AND.And.Eticaret.Core.Model.Entity.Kullanici

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Kullanici</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.KullaniciAdı)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.KullaniciAdı)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.KullaniciSoyadı)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.KullaniciSoyadı)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Telefon)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Telefon)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BankaAdı)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BankaAdı)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IBANNumarası)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IBANNumarası)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.KullanıcıAdı)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.KullanıcıAdı)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Şifre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Şifre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Aktif)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Aktif)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Admin)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Admin)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OlusturmaTarih)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OlusturmaTarih)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OlusturKullaniciID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OlusturKullaniciID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GüncellemeTarih)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GüncellemeTarih)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.KullaniciGüncelleID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.KullaniciGüncelleID)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
